@model BRSS66.ApplicationCore.ViewModels.Response.CourseResponse
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detail</h1>

<div>
    <h4>Any Course</h4>
    <hr/>
    <dl class="row shadow-inner">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem => modelItem.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Credit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem => modelItem.Credit)
        </dd>
    </dl>
    <div class="neo-left">
        <a class="btn-outline-primary btn-sm" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a class="btn-outline-primary btn-sm" asp-action="Index">Back to List</a>
    </div>
</div>